@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-800 text-white;
}

button,
.button {
  @apply bg-slate-700 text-center py-2 px-8 uppercase rounded-lg border border-slate-500 hover:scale-105 transform transition-all duration-200 active:scale-95;
}

input {
  @apply bg-slate-700 py-2 px-8 rounded-lg border border-slate-500;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #0c92f2;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #fc830a;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scan {
  0% {
    top: 0%;
  }
  50% {
    top: 99%;
  }
  100% {
    top: 0%;
  }
}

.scan-animation {
  animation: scan 2s ease-in-out infinite;
}
